.Calc-main_disp{
    width: 32vh;
    height: 64vh;
    background: black;
    color: white;
    padding: 25px;
}
.Calc-disp_result{
    margin-top: 75px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 55px;
}
.Calc-disp_buttons{
    display: grid;
    grid-gap: 7px;
    grid-template-rows:repeat(6,1fr) ;
    grid-template-columns: repeat(4,1fr);
}